body {
	background-color: #222;
	color: #fff;
	font-family: Arial, sans-serif;
}

#container {
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
}

h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	font-size: 4em;
	cursor: pointer;
}

.x {
	color: #ff0;
}

.o {
	color: #0ff;
}

#message {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 2em;
}

#turn {
	text-align: center;
	margin-bottom: 30px;
	font-size: 2em;
}

button {
	display: block;
	margin: 0 auto;
	font-size: 2em;
	padding: 10px 20px;
	background-color: #555;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #333;
}
