body {
	background-color: #f9f9f9;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #1F77B4;
}

#game-container {
	margin: 0 auto;
	width: 300px;
	padding-top: 20px;
}

table {
	border-collapse: collapse;
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 3em;
	border: 1px solid #ccc;
	cursor: pointer;
}

td:hover {
	background-color: #ddd;
}

#controls {
	margin: 20px auto;
	text-align: center;
}

button {
	padding: 10px;
	margin: 0 10px;
	background-color: #1F77B4;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #5DA5DA;
}

#status {
	margin-top: 20px;
	text-align: center;
	color: #1F77B4;
	font-size: 2em;
}
